@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Northern Michigan MicroBrewerires.</p>
    <p>By Mathew Dodson  &copy; 2017</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Part 1</h2>
        <p>
Lorum Ipsum V1
        </p>

    </div>
    <div class="col-md-4">
        <h2>Part 2</h2>
        <p>Lorem Ipsum V2</p>

    </div>
    <div class="col-md-4">
        <h2>Part 3</h2>
        <p>Lorem Ipsum V3</p>
    </div>
</div>